.Quiz {
    padding-top: 100px;
    flex-grow: 1;
    background: linear-gradient(0deg, rgba(120,212,215,1) 10%, rgba(89,188,195,1) 29%, rgba(112,111,175,1) 60%);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}