.Drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    padding: 40px 20px;
    box-sizing: border-box;
    background-color: #94aff5;
    border: 7px solid #fff;
    border-left:  none;
    box-shadow: 0 0 0 5px #000;
    border-top: 25px solid #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 90;
    transform: translateX(0);
    transition: transform .22s;
}

.Drawer.close {
    transform: translateX(-105%);
}

.Drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Drawer li {
    margin-bottom: 15px;
}

.Drawer a {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    padding: 8px;
}

.Drawer a.active {
    color: #000;
}