.UiTitle {
    color: #000;
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 20px solid #94aff5;
    box-shadow: 0 0 0 2px #000;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: none;
    border-right: none;
    height: 40px;
    margin: 20px 0;
    font-size: 35px;
}