.Button {
    cursor: pointer;
    padding: 10px;
    color: #fff;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
}

.primary {
    background-color: #798ee0;
}

.success {
    background-color: #5cb687;
}

.Button.success:hover {
    background-color: #9fdfbe;
}

.Button.primary:hover {
    background-color: #94aff5;
}

.Button:active {
    background-color: rgba(255, 255, 255, 0.7);
}

.Button:disabled {
    background-color: #b3b3b3;
    cursor: not-allowed;
}

.Button:disabled:hover {
    background-color: #b3b3b3;
}
