.Auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: #fff;
}

.Auth .form {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #fff;
    padding: 20px;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    box-sizing: border-box;
}

.Auth button {
    margin: 0;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .Auth .form {
        width: 100%;
    }
}