.Auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, rgba(245,175,209,1) 21%, rgba(200,182,220,1) 51%, rgba(159,185,230,1) 100%);
    height: 100%;
    color: #fff;
}

.Auth .form {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(218, 216, 216);
    padding: 20px;
    color: #000;
}

.Auth button {
    margin: 0;
    margin-bottom: 10px;
}